@model IEnumerable<SignalRCore.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ProdName</th>
            <th>Category</th>
            <th>UnitPrice</th>
            <th>StockQty</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>